
table {
    width: 206px;
    tr {
        height: 10px;
    }
    td{
        width: 70px;
        border: 2px solid;
        text-align: center;
    }
}

.isSelected {
    background: blue;
    margin: 0;
    color: white;
    font-weight: bold;
}